/* !-------------------------------------------------------------------------------------------------------------------------------------------
MOMENTANEAL CHANGES */









/* *---------------------------------------------------------------------------------------------------------------------------------------------
GENERAL STYLES */

/* * UNIVERSAL SELECTOR */
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* * ROOT */
:root{
    /* ? COLORS */
    --header-bg-color: black;
    --main-bg-color:#141922;
    --aside-bg-color:#080b12;
    --footer-bg-color:#282828;
    --main-color-text:#666666;
    --secondary-color-text:#f0f0f0;


    /* ? NUMBERS */
    --cards-number:2;
    --nav-li-number:4;


    /* ? DIMENSIONS */
    --header-width: 60px;
    --footer-height: 80px;
    --card-margin:0.5rem;
}



/* * TAG HTML */
body{
    font-family: 'Poppins';
    min-width: 580px;
}

body *{
    color: var(--main-color-text);
}

img{
    width: 100%;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h1,
h2,
h3{
    color: var(--secondary-color-text);
}



/* * CLASSES */

/* ? DISPLAYS */
.d_none{
    display: none;
}

.d_flex{
    display: flex;
}

.d_flex.wrap{
    flex-wrap: wrap;
}

.d_flex.center{
    justify-content: center;
}


/* ? POSITIONS */
.p_relative{
    position: relative;
}

.p_absolute{
    position: absolute;
}


/* ? TEXT */
.text-centered{
    text-align: center;
}

.uppercase{
    text-transform: uppercase;
}

.btn{
    text-transform: uppercase;
}








/* *----------------------------------------------------------------------------------------------------------------------------------------------
SPECIFIC STYLES */

/* * HEADER */
header{
    background-color: var(--header-bg-color);
    width: var(--header-width);
    height: calc(100vh - var(--footer-height));
}

header.d_flex{
    flex-direction: column;
    align-items: center;
}

header .icon{
    vertical-align: middle;
    padding-right: 0.3rem;
}

/* ? UPPER PART */

/* * Logo */
header .logo-container{
    width: calc(var(--footer-height)/2.5);
    padding-top: 0.5rem;
    padding-bottom: 1rem;
}


/* * Navbar */
header nav ul li{
    padding-bottom: 1rem;
}

header nav ul li .icon{
    font-size: 1.2rem;
}


/* ? LOWER PART */
header.p_relative #account-info.p_absolute{
    bottom: 0;
    left: 0;
    right: 0;
}

#account-info{
    padding: 0 1rem;
}

#account-info.d_flex{
    flex-direction: column;
    align-items: center;
}

#account-info .icon-container{
    padding: 1rem 0;
}

#account-info .icon-container .icon{
    font-size: 0.7rem;
}

#account-info .account.icon-container .icon{
    font-size: 1.2rem;
}



/* * MAIN */
main{
    background-color: var(--main-bg-color);
    height: calc(100vh - var(--footer-height));
    width: calc(100% - var(--header-width));
    overflow-y: auto;
    font-size: 0.8rem;
}

/* ? ASIDE */
main aside{
    height: var(--footer-height);
    background-color: var(--aside-bg-color);
}

main aside.d_flex{
    justify-content: end;
}

main aside .btn{
    color: var(--secondary-color-text);
    border: 1px solid var(--secondary-color-text);
    padding: 0.7rem 3rem;
    border-radius: 20rem;
    margin-right: 1rem;
}

main aside.d_flex .btn{
    align-self:center;
}


/* ? NAVBAR */
main nav{
    padding: 1.5rem 2rem 0 2rem;
}

main nav ul li{
    margin-right: 0.5rem;
    width: calc(100%/var(--nav-li-number) - 0.5rem);
    padding-bottom: 2rem;
    font-weight: bold;
    font-size: 0.8rem;
}

main nav ul li a{
    display: inline-block;
    width: 100%;
}


/* ? CARDS */
#cards>section{
    padding: 0 1.5rem;
}

#cards span{
    display: block;
    padding: 0.5rem 0;
    font-weight: bold;
}

/* ? Section Title */
#cards .section-title{
    padding-bottom: 2rem;
}

/* ? Cards Container */
#cards .cards-container{
    padding-bottom: 2rem;
}

#cards .cards-container .card{
    width: calc(100%/ var(--cards-number) - var(--card-margin));
    margin-right: var(--card-margin);
}

#cards .cards-container .card .img-container img:not(#cards #popular-artists .cards-container .card .img-container img){
    max-width: 180px;
}

#cards .cards-container .card .card-info{
    padding-top: 1rem;
}

#cards .cards-container .card .card-info h3{
    line-height: 1.2rem;
}

/* ? Popular Artists Section */
#popular-artists .cards-container .card .img-container{
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
}



/* * FOOTER */
footer{
    background-color: var(--footer-bg-color);
    width: 100%;
    height: var(--footer-height);
}





/* *----------------------------------------------------------------------------------------------------------------------------------------------
RESPONSIVENESS */

/* * SMALL */
@media screen and (min-width:576px){
    /* * GENERAL STYLES */
    
    /* ? ROOT */
    :root{
        --header-width: 250px;
        --nav-li-number:3;
        --card-margin:1rem;
    }



    /* * SPECIFIC STYLES */
    
    /* ? HEADER */
    header{
        padding: 1rem;
    }

    header.d_flex{
        align-items: flex-start;
    }

    header .d_none{
        display: block;
    }

    header .d_block{
        display: none;
    }

    header .logo-container{
        width: 70%;
        padding-bottom: 1.5rem;
    }

    header nav{
        padding-bottom: 1rem;
    }

    header nav ul .d_none{
        display: inline-block;
    }

    header nav ul li span{
        vertical-align: bottom;
    }

    #playlist h3{
        padding-bottom: 1rem;
        font-size: 1rem;
    }

    #playlist .icon{
        font-size: 2.5rem;
    }

    #playlist ul li{
        padding-bottom: 1rem;
        font-size: 0.8rem;
    }

    #account-info.d_flex{
        display: block;
    }

    #account-info .d_none{
        display: inline-block;
    }

    #account-info .account{
        border-top: 1px solid var(--main-color-text);
    }


    /* ? MAIN */


    /* ? FOOTER */
}



/* * MEDIUM */
@media screen and (min-width:768px){
        /* * GENERAL STYLES */

        /* ? ROOT */
        :root{
            --cards-number:4;
            --nav-li-number:5;
        }



        /* * SPECIFIC STYLES */
        
        /* ? HEADER */


        /* ? MAIN */


        /* ? FOOTER */
}



/* * LARGE */
@media screen and (min-width:992px){
        /* * GENERAL STYLES */

        :root{
            --cards-number:6;
            --nav-li-number:6;
        }



        /* * SPECIFIC STYLES */
        
        /* ? HEADER */


        /* ? MAIN */


        /* ? FOOTER */
}