/* !-------------------------------------------------------------------------------------------------------------------------------------------
MOMENTANEAL CHANGES */
main>*{
    background-color: red;
    border-bottom: 1px solid;
    height: 10rem;
}

nav{
    height: 2rem;
}

.column{
    background-color: green;
    height: 2rem;
    border:  1px solid;
}

.img-container{
    background-color: yellow;
    width: 100%;
    border: 1em solid;
}








/* *---------------------------------------------------------------------------------------------------------------------------------------------
GENERAL STYLES */

/* * UNIVERSAL SELECTOR */
*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/* * ROOT */
:root{
    /* ? COLORS */
    --header-bg-color: black;
    --main-bg-color:#141922;
    --aside-bg-color:#080b12;
    --footer-bg-color:#282828;


    /* ? DIMENSIONS */
    --header-width: 55px;
    --footer-height: 61px;
    --main-vw:calc(100vw - var(--header-width));
}



/* * TAG HTML */
body{
    font-family: sans-serif;
}



/* * CLASSES */

/* ? DISPLAYS */
.d_flex{
    display: flex;
}

.d_flex.wrap{
    flex-wrap: wrap;
}




/* *----------------------------------------------------------------------------------------------------------------------------------------------
SPECIFIC STYLES */

/* * HEADER */
header{
    background-color: var(--header-bg-color);
    width: var(--header-width);
    height: calc(100vh - var(--footer-height));
}



/* * MAIN */
main{
    background-color: var(--main-bg-color);
    height: calc(100vh - var(--footer-height));
    width: var(--main-vw);
    overflow-y: scroll;
}

main section.columns-container .column{
    width: calc(var(--main-vw)/2);
}

main section.columns-container .column .img-container{
    height: calc(var(--main-vw)/2);
}

/* ? ASIDE */
main aside{
    height: var(--footer-height);
    background-color: var(--aside-bg-color);
}



/* * FOOTER */
footer{
    background-color: var(--footer-bg-color);
    width: 100%;
    height: var(--footer-height);
}





/* *----------------------------------------------------------------------------------------------------------------------------------------------
RESPONSIVENESS */

/* * SMALL */
@media screen and (min-width:576px){
    /* * GENERAL STYLES */
    
    /* ? ROOT */
    :root{
        --header-width: 160px;
    }



    /* * SPECIFIC STYLES */
    
    /* ? HEADER */


    /* ? MAIN */


    /* ? FOOTER */
}



/* * MEDIUM */
@media screen and (min-width:768px){
        /* * GENERAL STYLES */



        /* * SPECIFIC STYLES */
        
        /* ? HEADER */


        /* ? MAIN */
        main section.columns-container .column{
            width: calc(var(--main-vw)/4);
        }

        main section.colums-container .column .img-container{
            height: calc(var(--main-vw)/2);
        }


        /* ? FOOTER */
}



/* * LARGE */
@media screen and (min-width:992px){
        /* * GENERAL STYLES */



        /* * SPECIFIC STYLES */
        
        /* ? HEADER */


        /* ? MAIN */
        main section.columns-container .column{
            width: calc(var(--main-vw)/6);
        }

        main section.colums-container .column .img-container{
            height: calc(var(--main-vw)/2);
        }


        /* ? FOOTER */
}